version: '3.8'    # docker version for running the application

services:  
  client:       # Original service
    build: .    # Build Dockerfile in the current directory
    container_name: react_app   # Original container name
    ports: 
      - 3000:3000    # Map port 3000 on host to 3000 in container
    environment: 
      - REACT_APP_API_URL=http://localhost:8000
    volumes:
      - .:/app    # Mount current directory to /app in the container
      - /app/node_modules  # Keep node_modules in the container

  
